:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 24px;
  --font-size-xs: 12px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;
 
  --font-family-engravers_bold-regular: "Engravers Bold-Regular", Helvetica;
  --font-family-helvetica-regular: "Helvetica-Regular", Helvetica;
  --font-family-lato: "Lato", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.engraversbold-regular-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-engravers_bold-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.engraversbold-regular-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-engravers_bold-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-black-black-18px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
}

.engraversbold-regular-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-engravers_bold-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.engraversbold-regular-normal-black-26px {
  color: var(--black);
  font-family: var(--font-family-engravers_bold-regular);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.engraversbold-regular-normal-black-48px {
  color: var(--black);
  font-family: var(--font-family-engravers_bold-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
